<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        backupGlobals="false"
        bootstrap="tests/bootstrap.php"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        syntaxCheck="true"
        printerClass="\PHPUnit\Util\TestDox\CliTestDoxPrinter"
        verbose="true">
    <testsuite>
        <directory suffix="Test.php">./tests/</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <!-- I'm not aware of a way to test the curl calls, so I'm skipping just this class -->
                <file>src/Helpers/CurlResource.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
